<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="generator" content="Conductor CMS">
  <meta name="author" content="ENR // AgencyND // University of Notre Dame">
  <meta name="copyright" content="(c) University of Notre Dame">
  <meta name="description" content="哲学书评主要关注对汉语哲学界出版的新书、重要文章的评论，以及对学术名家的访谈。欢迎关注我们并向我们投稿！">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no"/>
  <% if (htmlWebpackPlugin.options.env !== 'dev') { %>
  <link href="./static/common.css" rel="stylesheet">
  <link href="./static/<%= htmlWebpackPlugin.options.chunks[0] %>.css" rel="stylesheet">
  <% } %>
  <script src="http://cdn.ckeditor.com/4.5.10/standard/ckeditor.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body ontouchstart>
  <div id="app"></div>
  <script type="text/javascript" src="./static/common.js"></script>
  <script type="text/javascript" src="./static/<%= htmlWebpackPlugin.options.chunks[0] %>.js"></script>
  <div class="hide">
    <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
  </div>
</body>
</html>
