@import "_var.scss";

.dp-pull-refresh {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.dp-pull-refresh__indicator {
  display: flex;
  justify-content: center;
  position: absolute;
  background: #f0f0f0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  >div {
    color: #88888c;
  }
}

.dp-pull-refresh__content {
  background: white;
}

.dp-loading.dp-loading--pull-refresh {
  .dp-loading-leaf::before {
    background: #88888c;
  }
}