body {
  //font-family: Hiragino Sans GB,Arial,Helvetica,sans-serif;
  background: #f0f0f0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

#header {
  background: red;
  height: 20px;
  flex: 0 0 auto;
}

#content {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#footer {
  background-color: white;
  flex: 0 0 auto;
}



h1 {
  font-size: rem(18);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: rem(16);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: rem(15);
  line-height: rem(22);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h4 {
  font-size: rem(14);
  line-height: rem(20);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h5 {
  font-size: rem(12);
  line-height: rem(16);
  margin: 0;
  padding: 0;
  font-weight: normal;
}