<div id="content" role="main">
  <div id="alpha">
    <article class="hentry">
      <header>
        <hgroup>
          <h2 class="author">{{article.author}}</h2>
          <h1 class="entry-title">{{article.title}}</h1>
          <h5 class="publish-info"><time pubdate="" class="pubdate" datetime="20160518T200000-05:00">Published: May 18, 2016</time></h5>
          <h4 class="bibliography"><p>{{article.sub_title}}</p></h4>
          <h3 class="reviewers">{{article.reviewer}}</h3>
        </hgroup>
      </header>
      <div class="entry-content">
        {{{article.content}}}
      </div>
    </article>

  </div>
  <br><br><br><br><div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</div>