<div class="contri">
  <article class="hentry">
    <header>
      <hgroup>
        <h2 class="author">{{article.author}}</h2>
        <h1 class="entry-title">{{article.title}}</h1>
        <h4 class="bibliography"><p>{{article.sub_title}}</p></h4>
        <h3 class="reviewers">{{article.reviewer}}</h3>
      </hgroup>
    </header>
    <div class="entry-content">
      {{{article.content}}}
    </div>
  </article>
  <div>
    <h2>评论</h2>
    <ul class="comul">
      <li v-for="com in comments">
        <p>{{com.comment}}</p>
        <span>{{com.created_at}}</span>
      </li>
    </ul>
  </div>
  <form class='form'>
    <textarea name="" v-model="comment"></textarea>
    <button @click="submit()">发表评论</button>
  </form>
  
  <share></share>
</div>