@import "_var.scss";
@import "../../common/_common.scss";

body{
    background: #fff;
}
#wrapper {
    overflow: hidden;
    position: relative;
    width: 957px;
    margin: 0 auto 20px;
    padding: 0;
    background: #fff url(http://7xu36i.com1.z0.glb.clouddn.com/new_header.png) 0 0 no-repeat;
}
#header {
    display: block;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 310px;
    background-position: 5px 40px;
    background-repeat: no-repeat;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav li {
    float: left;
    display: inline;
}
.sitenav li.last{
    margin-left: -2px;
}
.sitenav a {
    display: block;
    float: left;
    width: 137px;
    height: 89px;
    text-indent: -9999px;
    overflow: hidden;
    background: 0 0 no-repeat;
}
.sitenav .nav-rec {
    background-position: -160px 0;
}
.form{
    display: block;
    width: 400px;
    margin: 40px auto 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.form div{
    margin: 10px 0;
}
.form label{
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right:10px;
}
.form button{
    width: 80px;
}
.form textarea{
    margin: 0 0 10px 0;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
}

/* FOOTER
   ----------------------------------------------------*/
#footer {clear:both; position:relative; width:857px; height:89px; margin:0 auto; padding:30px 50px 0; font-size:75%; color:#fff; background:url(http://7xu36i.com1.z0.glb.clouddn.com/footer.png) 0 0 no-repeat;}
#footer p {margin:0;}
#footer a {color:#fff;}
#footer .tel,
#footer .fax,
#footer .email {margin:0 0 0 10px;}
#footer #mark {display:block; position:absolute; top:15px; right:70px; width:139px; height:93px; border:none; background:url(http://7xu36i.com1.z0.glb.clouddn.com/%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg) 0 0 no-repeat;}
#footer #mark img {display:none;}
#contact-info {display:none;}
#footer #site-link {}
#addthis:hover {background-position:0 -30px;}