@import "_var.scss";
@import "../../common/_common.scss";

body{
    background: #fff;
}
#wrapper {
    min-height: auto;
    max-height: none;
    width: 957px;
    margin: 0 auto 20px;
    padding: 0;
    background: #fff url(http://7xu36i.com1.z0.glb.clouddn.com/new_header.png) 0 0 no-repeat;
}
#header {
    display: block;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 310px;
    background-position: 5px 40px;
    background-repeat: no-repeat;
}
#content{
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav li {
    float: left;
    display: inline;
}
.sitenav li.last{
    margin-left: -2px;
}
.sitenav a {
    display: block;
    float: left;
    width: 137px;
    height: 89px;
    text-indent: -9999px;
    overflow: hidden;
    background: 0 0 no-repeat;
}
.sitenav .nav-rec {
    background-position: -160px 0;
}
.form{
    display: block;
    box-sizing:border-box;
    width: 100%;
    margin: 40px auto 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.form div{
    margin: 10px 0;
}
.form label{
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right:10px;
}
.form button{
    width: 80px;
}
.form textarea{
    margin: 0 0 10px 0;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
}

/* FOOTER
   ----------------------------------------------------*/
#footer {clear:both; position:relative; width:857px; height:89px; margin:0 auto; padding:30px 50px 0; font-size:75%; color:#fff; background:url(http://7xu36i.com1.z0.glb.clouddn.com/footer.png) 0 0 no-repeat;}
#footer p {margin:0;}
#footer a {color:#fff;}
#footer .tel,
#footer .fax,
#footer .email {margin:0 0 0 10px;}
#footer #mark {display:block; position:absolute; top:15px; right:70px; width:139px; height:93px; border:none; background:url(http://7xu36i.com1.z0.glb.clouddn.com/%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg) 0 0 no-repeat;}
#footer #mark img {display:none;}
#contact-info {display:none;}
#footer #site-link {}
#addthis:hover {background-position:0 -30px;}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}

.mainpage{
    overflow:hidden;
    margin-bottom: 20px;
    .mainleft{
        float: left;
        width: 75%;
        padding: 40px 20px 20px 100px;
        box-sizing:border-box;
    }
    .mainright{
        float: left;
        width: 25%;
        border-left: 1px solid #cca955;
        padding:40px 0 20px 20px;
        box-sizing:border-box;
    }
}
.page-side{
    .side-list{
        li{
            margin-bottom: 20px;
            img{
                display: block;
                width: 100%;
            }
            p{
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}
.search-area{
    float: right;
    overflow: hidden;
    width: 195px;
    margin: 0 0 4px;
    padding: 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #dadada;
    .search-q{
        float: left;
        width: 165px;
        height: 22px;
        margin: 0;
        padding: 0 3px;
        border: none;
        font-size: 90%;
        color: #444;
        -webkit-appearance: textfield;
        background: transparent;
    }
    .search-button{
        float: right;
        text-indent: -9999px;
        overflow: hidden;
        width: 22px;
        height: 22px;
        margin: 0;
        border: 1px solid #adadad;
        cursor: pointer;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #d3d3d3 url(./searchmag.png) center center no-repeat;
        background: url(./searchmag.png) center center no-repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, .0))), hsl(0, 0%, 65%);
        background: url(./searchmag.png) center center no-repeat, -moz-linear-gradient(top, rgba(255, 255, 255, .9), rgba(255, 255, 255, .0)), hsl(0, 0%, 65%);
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
}
.search-key{
    clear: both;
    float: right;
    padding: 0.1em;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.8em 0 8px;
    color: #1c3042;
    line-height: 1.1em;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    /* font-family: Georgia, Times, "Times New Roman", serif; */
}

.most-recent{
    margin: 35px 0 30px;
    font-size: 124%;
    text-transform: uppercase;
    color: #1c3042;
    line-height: 1.1em;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
.summary{
    margin: 0 0 30px;
    .author{
        margin: 0 0 6px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 100%;
        color: #000;
    }
    .entry-title,.entry-title a{
        font-size: 13px;
        font-weight: normal !important;
        text-decoration: underline;
        margin: 0 0 7px !important;
        padding: 0 !important;
        border: none;
        background: none !important;
        font-weight: bold !important;
        text-align: left;
        color: #1768cc !important;
    }
    .publisher,.reviewers{
        margin: 0;
        line-height: 1em;
        font-size: 100%;
        font-weight: normal;
        line-height: 1.6em;
        color: black;
        .reviewed-by {
            float: left;
            margin-right: 5px;
        }
    }
    .edition{
        width: 510px;
        padding: 0 60px 0 0;
        font-size: 15px;
        line-height: 1.5em;
    }
}

body{
    width: 100%;
    width: 100%;
    color: #000;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    font-family: 微软雅黑;
    background: 0 0 repeat-x;
}
.hide{
    display: none !important;
}
.contri{
    padding: 10px 40px;
    li{
        margin: 20px 0;
        h2{
            font-size: 13px;
            font-weight: bold;
            line-height: 28px;
        }
        input{
            display:block;
            width: 300px;
            height:24px;
            font-size:13px;
        }
        span{
            font-size:13px;
            line-height:20px;
        }
        textarea{
            display:block;
            width: 100%;
            height:60px;
        }
        select{
            display:block;
        }
    }
    .entry-title{
        margin: 0 0 7px !important;
        padding: 0 !important;
        text-transform: none;
        text-decoration: none;
        border: none;
        background: none !important;
        font-weight: bold !important;
        font-size: 140%;
        text-align: left;
        color: #1768cc !important;
        font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    }
    .bibliography{
        font-size: 100%;
        font-weight: normal;
        line-height: 1.6em;
        color: black;
        p{
            margin: 0;
        }
    }
    .reviewers{
        margin-bottom: 20px;
    }
}
.bshare-custom{
    margin: 20px 0;
}
.comul{
    li{
        border-bottom: 1px solid #ccc;
        p{
            margin: 0;
        }
    }
}
