<div>
  <p>《哲学书评》成立于2016年4月，主要关注对汉语哲学界出版的新书、重要文章的评论，我们亦接受对国外出版的书籍的评论以及对学术名家的访谈。我们希望通过我们的努力能够为大家传递学术前沿思想，促进哲学业内思想交流，同时对学术环境的积淀与成熟学术系统的建构尽绵薄之力。 </p>
  <p>本站所发文章均获得投稿作者本人授权，可在《哲学书评》其他各平台上发布。文章可自由转载与引用，转载与引用请注明出处以及作者的各项信息。所发稿件最终版权归《哲学书评》和作者所有。 </p>
  <p>投稿请登录“投稿系统”按要求操作，接受与退稿均回复。我们尤为青睐紧扣所评书籍、条理清晰、论述严密、行文晓畅，3000字左右篇幅的学术书评。书评建议包含但不限于如下三个部分：书籍总评、每章概述（或按主题概述，可对思路、观点以及创新之处做出总结和论述），以及书籍存在的问题或不足之处。 </p>
  <p>来稿均默认允许我们在各个平台上发布，并接受其他方可能的转载、引用等传播行为。来稿一经录用，在有资助的情况下即付稿酬，稿酬一般为所评书籍当当网定价。</p>
  <p>团队成员均为义务性劳动，资助金充足时，会设有组稿补贴。如果您对我们的事业有兴趣，并有意加入我们，请发简历至：zhexueshuping@sina.com。目前我们接受“审稿编辑”一职的申请。我们期待您的加入！ </p>
  <p>欢迎关注我们其他平台：</br>
  微信公众号：zhexueshuping</br>
  <a href="http://www.zhihu.com/people/zhexueshuping">知乎专栏</a></br>
  <a href="https://site.douban.com/274863/">豆瓣小站</a></p>
</div>