<div>
  <h2>捐助《哲学书评》的意义</h2>
  <p>写作哲学书评在国外学界是一件蔚然成风的事情，国外的学生往往以写作哲学书评作为自己的学术起点。在写作时，作者可以认真、细致地读一本书，并带着批判性的眼光阅读著作，由此逐步形成自己的思维方式。反观国内，学生往往有着在有级别的刊物上发文的硬性指标，即便在少数没有指标的高校，学生也会因为考虑到未来的发展而功利性地写作，这导致了种种学术问题。</p>
  <p>写作哲学书评不仅对于青年学生、学者有着重要的意义，它还有助于传递前沿动态、促进思想交流、帮助建构一个成熟的学术系统。国人往往对自己学术同仁的著作缺乏关注，一味地追求国外新颖的文献，而忽略自身学术环境的累积。通过哲学书评，我们会形成对彼此思想最基本的关注、认知和尊重。</p>
  <p>如果您代表相关机构、从事与哲学相关的工作，或是哲学爱好者，或只是热心人，希望您在有经济基础的情况下，予以我们任意金额的资助，我们不胜感激。</p>
  <h2>我们为什么寻求捐助</h2>
  <p>我们希望通过予以作者一定金额的稿费的方式鼓励作者为我们提供稿件。同时，支付稿酬，也是对作者劳动基本的尊重。另外，我们平时的网站管理，以及其他与哲学相关的活动都需要经费支持。</p>
  <h5>资金用途</h5>
  <p>我们将筹得的资金基本用于稿酬的发放，在资金充足的情况下，印刷一定数量的《哲学书评》（不定期刊）赠送作者。</p>
  <p>稿酬发放规则：<br/>
  1.一般情况下，稿费为书评人所评的书籍定价；<br/>
  2.69元封顶； <br/>
  3.对英文书籍的书评统一稿费为50元。</p>
  <p>在资助金充足的情况下会适当调高稿费。相反，如无资助时，则无稿费，敬请谅解。</p>
  <h2>捐助方式</h2>
  <p>1.您可以直接支付宝转账至：18251930226， 请说明您的转账用于资助哲学书评；如果您愿意，请留下您的基本信息；<br/>
  2.您可以发邮件至：zhexueshuping@sina.com, 我们安排人与您主动取得联系，洽谈具体事宜；<br/>
  3.您可以加主编微信KingChou0528（加好友时，请备注，“资助哲学书评”，与主编直接商谈）。</p>
  <h5>我们的回报</h5>
  <p>如果您愿意，我们将以以下方式回馈您：<br/>
  1. 如果您资助金额较小，我们将您列入致谢名单；<br/>
  2. 如果您资助金额在500元及以上，我们将以您的名义设立专项稿费； <br/>
  3. 如果您是企业、机构资助者，我们将在我们各种平台上为您提供恰当的宣传或进行恰当的合作。</p>
</div>